nav.navbar.navbar-expand-lg.navbar-light.bg-light.container
    a.navbar-brand(href='/') Home
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          if member
            a.nav-link(href='#')
              | #{member.nickname} 
              span.sr-only (current)
          else
            a.nav-link(href='/auth/login')
              | Login 
              span.sr-only (current)
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Create
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/users/create') User
            .dropdown-divider
            a.dropdown-item(href='#') Upload Picture
            .dropdown-divider
            a.dropdown-item(href='#') Something else here
        li.nav-item
          a.nav-link(href='/products')
            | Products 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Cart